* {
    border: none;
    border-radius: 10px;
    font-family: "SF Pro Display";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(6, 30, 41, 0.58);
    color: #C2C2C5;
    border-radius: 99px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

tooltip {
    background: #0F0E0E;
    border-radius: 20px;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces button {
    color: #C2C2C5;
    margin-right: 5px;
    padding-right: 0px;
    padding-left: 0px;
}

#workspaces button.active {
    color: #061E29;
}

#workspaces button.focused {
    color: #061E29;
    background: #eba0ac;
    border-radius: 13px;
}

#workspaces button.persistent {
    color: #1D546D;
}

#workspaces button.empty {
    color: #F3F4F4;
}

#workspaces button.active,
#workspaces button.visible {
    color: #061E29;
}

#workspaces button.urgent {
    color: #eba0ac;
}
#clock,
#pulseaudio,
#pulseaudio.microphone,
#network,
#custom-waybar-media,
#tray,
#custom-notification{
    background: transparent;
    opacity: 1;
    padding: 1.5px 7px 1.5px 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}

#workspaces {
    background: rgba(95, 149, 152, 0.68);
    opacity: 1;
    padding: 0px 7px 0px 7px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 99px;
    margin-right: 5px;
    margin-left: 5px;
}

#window {
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #FFFFFF;
    border-radius: 99px 99px 99px 99px;
    margin-right: 0px;
    margin-left: 10px;
}

#network {
    color: #C2C2C5;
    border-radius: 7px 7px 7px 7px;
    margin-right: 5px;
}

#custom-notification {
    color: #C2C2C5;
    border-radius: 7px 7px 7px 7px;
    padding-left: 9px;
    padding-right: 15px;
    margin-left: 2px;
    margin-right: 2px;
}

#custom-updates {
    color: #C2C2C5;
    border-radius: 7px 7px 7px 7px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 2px;
    margin-right: 2px;
}
#network {
    color: #C2C2C5;
    border-radius: 0px 99px 99px 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 20px;
}

#pulseaudio {
    color: #C2C2C5;
    border-radius: 99px 0px 0px 99px;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

#pulseaudio.microphone {
    color: #C2C2C5;
    border-radius: 0px 99px 99px 0px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
}
#custom-waybar-media{
    color: #5F9598;
    border-radius: 99px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 20px;
}

#tray {
    border-radius : 99px;
    padding: 0px 10px;
}
