* {
    font-family: SF Pro Display;
    font-weight: bolder;
    background-color: transparent;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: transparent;
}

.notification-row {
    outline: none;
    margin: 10px;
    padding: 0;
}

.notification {
    background: rgba(6, 30, 41, 0.48);
    padding: 0;
    margin: 0px;
    border-radius: 30px;
}

.notification-content {
    background: transparent;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 0;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    border-radius: 20px;
}

.close-button {
    background: #f7768ed0;
    color: #15161e;
    text-shadow: none;
    padding: 0;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 99px;
}

.close-button:hover {
    box-shadow: none;
    background: #f7768ed0;
    transition: all .15s ease-in-out;
    border: none;
    border-radius: 99px;
}


.notification-action {
    border: 2px solid #C1C5C5d0;
    border-top: none;
    border-radius: 5px;
}


.notification-default-action:hover,
.notification-action:hover {
    color: #C1C5C5d0;
    background: transparent
}

.notification-default-action {
    border-radius: 5px;
    margin: 0px;
}

.notification-default-action:not(:only-child) {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px
}

.notification-action:first-child {
    border-bottom-left-radius: 10px;
    background: transparent
}

.notification-action:last-child {
    border-bottom-right-radius: 10px;
    background: transparent
}

.inline-reply {
    margin-top: 8px
}

.inline-reply-entry {
    background: transparent;
    color: #618A8E;
    caret-color: #618A8E;

    border-radius: 5px
}

.inline-reply-button {
    margin-left: 4px;
    background: transparent;

    border-radius: 5px;
    color: transparent
}

.inline-reply-button:disabled {
    background: initial;
    color: #414868;
    border: 1px solid transparent
}

.inline-reply-button:hover {
    background: transparent
}

.body-image {
    margin-top: 6px;
    background-color: transparent;
    border-radius: 5px;
}

.summary {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color:white;
    text-shadow: none
}

.time {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: white;
    text-shadow: none;
    margin-right: 18px
}

.body {
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    color: white;
    text-shadow: none
}

.control-center {
    background: rgba(6, 30, 41, 0.15);
    border-radius: 15px;
}

.control-center-list {
    background: transparent
}

.control-center-list-placeholder {
    opacity: 1;
    border: transparent;
}

.floating-notifications {
    background: transparent
}

.blank-window {
    background: transparent
}

.widget-title {
    color: white;
    background: rgba(6, 30, 41, 0);
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 99px;
}

.widget-title>button {
    font-size: 1rem;
    color: white;
    text-shadow: none;
    background: rgba(6, 30, 41, 0.40);
    box-shadow: none;
    border-radius: 99px;
}

.widget-title>button:hover {
    background: #f7768e;
    color: rgba(6, 30, 41, 1);
}

.widget-dnd {
    background: rgba(6, 30, 41, 0.15);
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 99px;
    font-size: large;
    color: #C1C5C5d0;
}

.widget-dnd>switch {
    border-radius: 99px;
    /* border: 1px solid #C1C5C5d0; */
    background: #C1C5C5d0;
}

.widget-dnd>switch:checked {
    background: #f7768e;
    border: 1px solid #f7768e;
}

.widget-dnd>switch slider {
    background: rgba(6, 30, 41, 0.15);
    border-radius: 99px
}

.widget-dnd>switch:checked slider {
    background: rgba(6, 30, 41, 0.58);
    border-radius: 99px
}

.widget-label {
    margin: 10px 10px 5px 10px;
}

.widget-label>label {
    font-size: 1rem;
    color: #618A8E;
}

.widget-mpris {
    color: #618A8E;
    background: transparent;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    border-radius: 13px;
}

.widget-mpris > box > button {
    border-radius: 13px;
}

.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem
}

.widget-mpris-subtitle {
    font-size: 1.1rem
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 99px;
    background: transparent;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: transparent;
    border-radius: 99px;
    color: #618A8E;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: transparent;
    color: rgba(6, 30, 41, 0.15);
}

.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent
}

.topbar-buttons>button {
    border: none;
    background: transparent
}

.widget-volume {
    background: transparent;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 99px;
    font-size: x-large;
    color: #618A8E;
}

.widget-volume>box>button {
    background: #C1C5C5d0;
    border: none
}

.per-app-volume {
    background-color: rgba(6, 30, 41, 0.15);
    padding: 4px 8px 8px;
    margin: 0 8px 8px;
    border-radius: 5px;
}

.widget-backlight {
    background: transparent;
    padding: 5px;
    margin: 10px 10px 5px 10px;
    border-radius: 5px;
    font-size: x-large;
    color: #618A8E
}

/* .widget-inhibitors {
    margin: 8px;
    font-size: 1.5rem
}

.widget-inhibitors>button {
    font-size: initial;
    color: @text-color;
    text-shadow: none;
    background: @noti-bg;
    border: 1px solid red;
    box-shadow: none;
    border-radius: 7px
}

.widget-inhibitors>button:hover {
    background: @noti-bg-hover
} */
